.psp {
    color: #e4edb7;
    padding: 10px;
    text-align: justify;
}

.hline {
    color: #e4edb7;
    text-align: center;
}

.imgsp {
    padding: 70px;
    width: 50%;
    height: 50%;
    margin-left: 320px;
}